#root{
  display: flex;
}

.user-card {
  margin: 40px auto;
  width: 300px;
  height: 400px;
  padding: 0px 0px 30px 0px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.img-wrapper {
  width: 100%;
  height: 70%;
}
.user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.user-info {
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
}

.follow-btn {
  border-radius: 50%;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border: none;
  margin-top: -12%;
  cursor: pointer;
}

.user-stats {
  font-family: Arial, sans-serif;
  color: rgb(112, 125, 112);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 200px;
  font-size: 13px;
}
.user-stats >p{
  width: 70px;
}
.user-nickname {
  font-size: 12px;
  font-style: italic;
  margin-top: 6px;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}
